/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */
.top-bar{
	background:#2ecc71;
	border-bottom: 5px solid #27ae60;
}
#center-bar{
	margin: 10px
}
.logo{
	background-color: #27ae60;
}
.logo p{
	text-decoration:none;
	font-family: 'Sonsie One';
	margin-left: 50px;
	margin-top: 10px;
	font-size: 26px;
	color:white;
}
.icon img{
	height: 35px ;
	width: 35px;
}